[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "verilator"]
	path = verilator
	url = https://github.com/verilator/verilator.git
[submodule "sdks/emsdk"]
	path = sdks/emsdk
	url = https://github.com/emscripten-core/emsdk.git
