[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "verilator"]
	path = verilator
	url = https://github.com/verilator/verilator.git
[submodule "emscripten"]
	path = emscripten
	url = https://github.com/emscripten-core/emscripten.git
[submodule "binaryen"]
	path = binaryen
	url = https://github.com/WebAssembly/binaryen.git
[submodule "yosys"]
	path = yosys
	url = https://github.com/YosysHQ/yosys.git
